@using CarMarket.Custom;
@using Microsoft.AspNet.Identity;

@model CarMarket.Models.Offer

@{
    ViewBag.Title = "Delete";
}

<div style="margin-bottom: 10px;">
    <h3>Are you sure you want to delete this?</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }

</div>

<div>

    <div class="panel panel-primary">
        <!-- panel heading -->
        <div class="panel-heading">
            @Html.DisplayFor(model => model.Title)
            <div class="offer-price">
                $@Html.DisplayFor(model => model.Price)
            </div>
        </div>
        <!-- panel body -->
        <div class="panel-body">
            <h3>@Html.DisplayFor(model => model.Make) @Html.DisplayFor(model => model.Model) (@Html.DisplayFor(model => model.Year))</h3>

            <div class="row">
                <div class="col-md-3">
                    <div class="offer-property offer-color">
                        @Html.DisplayFor(model => model.Color)
                    </div>

                    <div class="offer-property offer-distance">
                        @Html.DisplayFor(model => model.Kilometers) km
                    </div>

                    <div class="offer-property offer-place">
                        @Html.DisplayFor(model => model.Region)
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="offer-property offer-author">
                        @Html.DisplayFor(model => model.Author.UserName)
                    </div>

                    <div class="offer-property offer-email">
                        @Html.DisplayFor(model => model.Email)
                    </div>

                    <div class="offer-property offer-phone">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="offer-property offer-year">
                        <span class="offer-key">Year:</span>
                        @Html.DisplayFor(model => model.Year)
                    </div>

                    <div class="offer-property offer-doors">
                        <span class="offer-key">Doors:</span>
                        @Html.DisplayFor(model => model.DoorsCount)
                    </div>

                    <div class="offer-property offer-hoursepowers">
                        <span class="offer-key">Hoursepowers:</span>
                        @Html.DisplayFor(model => model.Hoursepowers)
                    </div>

                    <div class="offer-property offer-date">
                        <span class="offer-key">Date:</span>
                        @Model.DatePublished.ToString("dd MMMM yyyy")
                    </div>
                </div>

                <div class="col-md-3">
                    <img src="~/Content/img/car.png" width="150" height="103" />
                </div>

            </div>

            <div class="row" style="margin-top: 20px;">
                <div class="col-md-4">
                    <div class="offer-property @Html.OfferBoolPropertyClass(Model.GPS)">
                        @Html.DisplayNameFor(model => model.GPS)
                    </div>
                    <div class="offer-property @Html.OfferBoolPropertyClass(Model.ABS)">
                        @Html.DisplayNameFor(model => model.ABS)
                    </div>
                    <div class="offer-property @Html.OfferBoolPropertyClass(Model.Airbag)">
                        @Html.DisplayNameFor(model => model.Airbag)
                    </div>
                    <div class="offer-property @Html.OfferBoolPropertyClass(Model.Parktronic)">
                        @Html.DisplayNameFor(model => model.Parktronic)
                    </div>
                    <div class="offer-property @Html.OfferBoolPropertyClass(Model.BoardComputer)">
                        @Html.DisplayNameFor(model => model.BoardComputer)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="offer-property @Html.OfferBoolPropertyClass(Model.AirConditioning)">
                        @Html.DisplayNameFor(model => model.AirConditioning)
                    </div>
                    <div class="offer-property @Html.OfferBoolPropertyClass(Model.Climatronic)">
                        @Html.DisplayNameFor(model => model.Climatronic)
                    </div>
                    <div class="offer-property @Html.OfferBoolPropertyClass(Model.RainSensor)">
                        @Html.DisplayNameFor(model => model.RainSensor)
                    </div>
                    <div class="offer-property @Html.OfferBoolPropertyClass(Model.PowerАssistedSteering)">
                        @Html.DisplayNameFor(model => model.PowerАssistedSteering)
                    </div>
                    <div class="offer-property @Html.OfferBoolPropertyClass(Model.Stereo)">
                        @Html.DisplayNameFor(model => model.Stereo)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="offer-property @Html.OfferBoolPropertyClass(Model.FourByFour)">
                        @Html.DisplayNameFor(model => model.FourByFour)
                    </div>
                    <div class="offer-property @Html.OfferBoolPropertyClass(Model.GasSystem)">
                        @Html.DisplayNameFor(model => model.GasSystem)
                    </div>
                    <div class="offer-property @Html.OfferBoolPropertyClass(Model.MethaneSystem)">
                        @Html.DisplayNameFor(model => model.MethaneSystem)
                    </div>
                    <div class="offer-property @Html.OfferBoolPropertyClass(Model.Tuning)">
                        @Html.DisplayNameFor(model => model.Tuning)
                    </div>
                </div>
            </div>


            <div class="offer-property offer-buttons">
                @Html.ActionLink("Back to list", "Index", null, new { @class = @"btn btn-info" })
                @if (User.Identity.IsAuthenticated && Model.AuthorId == User.Identity.GetUserId())
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
                }
            </div>

        </div>
    </div>
</div>