@using CarMarket.Custom

@model CarMarket.Models.Offer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Offer</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Region, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Region)
                @Html.ValidationMessageFor(model => model.Region)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Make, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Make)
                @Html.ValidationMessageFor(model => model.Make)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Model, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Model)
                @Html.ValidationMessageFor(model => model.Model)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hoursepowers, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hoursepowers)
                @Html.ValidationMessageFor(model => model.Hoursepowers)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Color, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Color, Model.Color)
                @Html.ValidationMessageFor(model => model.Color)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kilometers, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kilometers)
                @Html.ValidationMessageFor(model => model.Kilometers)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoorsCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoorsCount)
                @Html.ValidationMessageFor(model => model.DoorsCount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GPS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GPS)
                @Html.ValidationMessageFor(model => model.GPS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ABS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ABS)
                @Html.ValidationMessageFor(model => model.ABS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Airbag, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Airbag)
                @Html.ValidationMessageFor(model => model.Airbag)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Parktronic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Parktronic)
                @Html.ValidationMessageFor(model => model.Parktronic)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BoardComputer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BoardComputer)
                @Html.ValidationMessageFor(model => model.BoardComputer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AirConditioning, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AirConditioning)
                @Html.ValidationMessageFor(model => model.AirConditioning)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Climatronic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Climatronic)
                @Html.ValidationMessageFor(model => model.Climatronic)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RainSensor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RainSensor)
                @Html.ValidationMessageFor(model => model.RainSensor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PowerАssistedSteering, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PowerАssistedSteering)
                @Html.ValidationMessageFor(model => model.PowerАssistedSteering)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stereo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stereo)
                @Html.ValidationMessageFor(model => model.Stereo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FourByFour, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FourByFour)
                @Html.ValidationMessageFor(model => model.FourByFour)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GasSystem, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GasSystem)
                @Html.ValidationMessageFor(model => model.GasSystem)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MethaneSystem, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MethaneSystem)
                @Html.ValidationMessageFor(model => model.MethaneSystem)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tuning, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tuning)
                @Html.ValidationMessageFor(model => model.Tuning)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
